# Django settings
SECRET_KEY=your-secret-key
DEBUG=False # True only on dev
ALLOWED_HOSTS=localhost,172.0.0.1
STATIC_URL=static/

# DB settings
DB_NAME=worktrack_db
DB_USER=worktrack_user
DB_PASSWORD=worktrack_password
DB_HOST=localhost
DB_PORT=5432
